# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Config files
.env

# Tes dossiers spécifiques
.zen/
step1/